/* RESET */
*{
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
}
a{
	text-decoration: none;
	color:inherit;
}

/* ROOT */
:root
{
    --fonteTitre: 'Montserrat', sans-serif;
    --fonteCorps: 'Roboto', sans-serif;
    --fonteCode:"Consolas","Lucida Console", Courier, monospace;

    --couleurBody:rgb(32,32,32);

    --couleurTexte: rgb(187,187,187);
    --couleurTexteStrong: rgb(207,207,207);
    --couleurTexteValeur: white;
    --couleurTexteLien: rgb(42, 151, 235);

    --couleurPrincipale: #005fb8ff;
    --couleurFondValeur:#0073cbff;
    
    --couleurFondCode:rgb(45,45,45);

    --couleurFondHeader: rgb(5,5,5);

    --couleurNavFond:rgb(20,20,20);
    --couleurNavFondSectionActive:rgb(45,45,45);

    --backGroundImageDeg: repeating-linear-gradient( -45deg, rgb(20,20,20), rgb(20,20,20) 3px, rgb(8,8,8) 3px, rgb(8,8,8) 6px);

    --scrollbarFond: rgb(20,20,20);
	--scrollbarBloc: rgb(100,100,100);
}

/* barres de défilement navigateur */
/* chrome */
::-webkit-scrollbar {
	width: 6px;
	height: 6px;
	background-color: var(--scrollbarFond);
}
::-webkit-scrollbar-track {
  background-color: var(--scrollbarFond);
}
::-webkit-scrollbar-thumb {
	background-color: var(--scrollbarBloc);
	/* border-radius: 15px; */
}
/* firefox */
html{
	scrollbar-color: var(--scrollbarBloc) var(--scrollbarFond);
	scrollbar-width: thin;
}

/* GENERAL */
body
{
    font-family: var(--fonteCorps);
    font-size: 0.85em;
    line-height: 1.5em;
    color:var(--couleurTexte);
    text-align: justify;
	overflow: hidden;
    background-color: var(--couleurNavFond);
    background-image: var(--backGroundImageDeg);
    min-width: 320px;
}

/* HEADER */
header
{
    display: flex;
    justify-content: center;
    width: 100vw;
    background-color: var(--couleurFondHeader);
}
header div
{
    max-width: 1366px;
    width: 100vw;
    font-family: var(--fonteTitre);
    display: flex;
    justify-content:space-between;
    align-items:center;
}
header div a
{
    display: block;
}
header div a:first-child
{
    font-size: 1em;
    padding:1.5em 1.4em;
    background-color: var(--couleurPrincipale);
    color:var(--couleurTexteValeur);
    text-shadow: 0px 1px rgba(0,0,0,0.3);
}
header div a:first-child span
{
    opacity: 0.5;
}
header div a:last-of-type
{
    display: flex;
    align-items: center;
    /* background-color: rgba(255,255,255,0.2); */
    padding:1.6em;
}
@media screen and (min-width:1024px)
{
    header div a:last-of-type
    {
        display:none;
    }
}

/* LAYOUT */
.layout
{
    height:calc(100vh - 4.4em); 
    display: flex;
    justify-content: center;
}
.layout > div:first-child
{
    height: 100%;
    max-width: 1366px;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    /* scrollbar firefox : */
	scrollbar-width: thin;
}
nav
{
    display: none; 
    height: 100%;
    overflow-y:auto;
    overflow-x: hidden;
	/* scrollbar firefox : */
	scrollbar-width: thin;
}
main
{
    display: flex;
    width: 100%;
	height:100%;
    justify-content: space-between;
    /* overflow-y:auto; */
    background-color: var(--couleurBody);
    overflow-x: hidden;
}
.mainContent
{
    flex-basis:100%;
    display: flex;
    flex-direction: column;
    overflow-y:auto;
    /* scrollbar firefox : */
	scrollbar-width: thin;
    /* reset du compteur : */
	counter-reset: h2Compteur;
}
@media screen and (min-width:1024px)
{
    .mainContent
    {
        border-left: 1px solid var(--couleurNavFond);
        border-right: 1px solid var(--couleurNavFond);
    }
} 
aside
{
    display: none; 
    overflow-y:auto;
    overflow-x: hidden;
	/* scrollbar firefox : */
	scrollbar-width: thin;
    /* reset du compteur : */
	counter-reset: sideCompteur;
}
@media screen and (min-width:1024px)
{
	.layout > div:first-child{
		display: flex;
		justify-content: space-between;
		align-items: stretch;
        /* overflow-y: hidden; */
	}
	nav{
		flex-basis: 17em;
		flex-grow:0;
		flex-shrink: 0;
		display: block;
	}
    /* .mainContent
    {
        flex-basis: 100%;
    } */
    aside
    {
        flex-basis: 20em;
        display:block;
    }
}

/* NAV */
nav
{
    /* reset compteur nav : */
	counter-reset: navCompteur;
    background-color: var(--couleurNavFond);
    font-size: 0.95em;
    line-height: 1em;
}
nav section{
	display: flex;
    flex-flow: row wrap;
    border-bottom: 1px solid var(--couleurNavFond);
}
nav a{
	display:block;
    width:100%;
}
@media screen and (min-width:1024px)
{
    nav a
    {
        width: 17em;
    }
}
nav section > a::before{
	/* incrémenter : */
	counter-increment: navCompteur;
	/* afficher la valeur : */
	content: counter(navCompteur) ". ";
}
nav section > a{
	padding: 1.5em 1.5em;
    font-weight: 700;
}
nav section div{
	display:none;
    overflow:hidden;
}
nav section div a{
	padding: 1.5em 3em 1.5em 2.5em;
}
/* classe de section > a actif */
.sectionActive,
.sectionActive div{
	display:inherit;
}
.sectionActive{
	background-color: var(--couleurNavFondSectionActive);
}
/* .sectionActive > a{
	color:inherit;
} */
/* classe de section > div > a actif */
.navLienActif{
	background-color: var(--couleurFondValeur);
    color:var(--couleurTexteValeur);
}

/* MAIN */
/* main section */
/* { */
    /* padding: 3em; */
/* } */
.mainContent > section:first-of-type > div /* titre */
{
    background-color: var(--couleurFondValeur);
    color: var(--couleurTexteValeur);
    padding: 3em;
}
.mainContent > section:first-of-type > p:last-child
{
    font-style: italic;
    padding: 2em 3em 2em 3em;
    background-color: var(--couleurNavFondSectionActive);
}
.mobileSumm /* bouton mode sommaire*/
{
    align-self: flex-end;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em;
    padding:1.5em 2em;
    /* background-image: var(--backGroundImageDeg); */
    background-color: var(--couleurNavFond);
	overflow: hidden;
    /* max-height: 2em; */
    height: 2em;
    width: 16em;
    border-radius: 0.4em;
}
.mobileSumm p
{
    margin:0;
    color:white;
    opacity: 0.4;
    font-family: var(--fonteTitre);
}
.mobileSumm img
{
    opacity: 0.4;
}
.turning180
{
    transform:rotate(180deg);
}
/* @media screen and (min-width:1024px)
{
    .mobileSumm
    {
        display: none;
    }
} */
main section > a:first-child /* section de contenu : lien*/
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3em;
}
main section > a:first-child img
{
    margin-top: 0.3em;
    margin-left:3em;
    opacity: 0.4;
    /* height:100%; */
}
.sectionDiv
{
    padding: 0em 3em 3em;
}
.hidden
{
    display:none;
}
h1,h2
{
    font-family:var(--fonteTitre);
    text-align:left;
    font-weight:300;
    line-height:1.2em;
}
h1{
	font-size:3em;
    text-shadow: 0px 1px rgba(0,0,0,0.3);
}
h2
{
    font-size: 1.9em;
    /* margin-bottom: 1em; */
}
p
{
    margin-bottom: 1.5em;
}
p:last-child
{
    margin-bottom: 0;
}
h1 + p
{
    font-weight: 700;
    opacity: 0.5;
}
.mainContent > section > a > h2::before{
	/*incrémenter : */
	counter-increment: h2Compteur;
	/* afficher la valeur : */
   content: counter(h2Compteur) ". ";
}
/* à partir de la troisième section, c'est le contenu */
.mainContent section:nth-child(n+3) 
{
    border-bottom: 1px solid var(--couleurNavFond);
}
.mainContent section:nth-child(3)
{
    border-top: 1px solid var(--couleurNavFond);
} 
/* @media screen and (min-width:1024px)
{
    .mainContent section:nth-child(3)
    {
        border-top: 0;
    } 
} */
/* .texteCadre
{
    font-style: italic;
    padding: 2em 3em 2em 3em;
    background-color: var(--couleurNavFondSectionActive);
} */
strong
{
    color:var(--couleurTexteStrong);
}
p + ul, p + ol
{
    margin-top:-0.5em;
}
ul, ol
{
    margin-bottom:2em;
}
ul:last-child, ol:last-child
{
    margin-bottom: 0;
}
ul li, ol li
{
    margin-left:3em;
    margin-bottom:0.5em;
}
li > ul, li > ol
{
    margin-top:0.5em;
}
pre,code
{
    font-family: var(--fonteCode);
    background-color: var(--couleurFondCode);
}
code
{
    padding:0em .4em 0.2em 0.4em;
    border-radius: 0.3em;
	word-wrap:normal;
}
pre
{
    border-radius: 0.5em;
    text-align: left;
    /* padding: 0em 2em 0em 2em; */
    padding:1.5em;
    line-height: 1.5em;
    margin-bottom:1.5em;
    -moz-tab-size:3;
	-o-tab-size:3;
	tab-size:3;
    overflow-x:auto;
	overflow-y:hidden;
    /* scrollbar firefox : */
	scrollbar-width: thin;
    /*retour ligne auto*/
    /* white-space: pre-wrap; */
}
pre code
{
    padding-left:0;
    /* word-wrap: normal; */
}
p a, li a
{
    font-style: italic;
    color: var(--couleurTexteLien);
}
p a:hover, li a:hover
{
    text-decoration: underline;
}
.sectionDiv img
{
    display: block;
    margin:0 auto;
    max-width: 100%;
    margin-bottom:1em;
}
figure
{
    margin-bottom:1.5em;
}
figcaption
{
    font-size: 0.9em;
    text-align: center;
    opacity: 0.7;
    max-width: 400px;
    margin: 0 auto;
}
aside a 
{
    display: block;
    text-align: left;
    width: 100vw;
    font-size: 0.95em;
    line-height: 1.3em;
    padding:1.2em 1.5em;
}
@media screen and (min-width:1024px)
{
    aside a
    {
        width: 100%;
    }
}
aside a:first-child
{
    font-weight: 700;
}
aside a:nth-child(n+2)::before{
	/*incrémenter : */
	counter-increment: sideCompteur;
	/* afficher la valeur : */
   content: counter(sideCompteur) ". ";
}
.currentSection
{
    color: var(--couleurTexteLien);
}
.last
{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    line-height: 1em;
    padding:3em;
    background-image: var(--backGroundImageDeg);
	overflow: hidden;
    color:white;
    opacity: 0.4;
    font-family: var(--fonteTitre);
    flex-basis: 100%; 
    min-height: 7em;
}